In [ ]:
#Plan for the day
## Variables
## Operators
## Functions
## input
## questions--
## Flow Control
## Condition statements
## Loops

In [ ]:
What are Variables?
Variables are containers for storing data values. In Python, variables are created when you assign a value to them.

Naming Conventions:

Variable names can contain letters, digits, and underscores (_).
Variable names must start with a letter or an underscore.
Variable names are case-sensitive (age, Age, and AGE are different variables).
Variable names should be descriptive and follow the snake_case naming convention.
    
Assigning Values to Variables:
Python uses the = operator to assign values to variables. The type of the variable is determined dynamically based on the value assigned to it.
# Assigning values to variables
name = "Alice"
age = 25
height = 5.7
is_student = True
Variable Types:
Python variables can hold different types of data. The most commonly used data types include:

Numbers:
Integers: Whole numbers, e.g., int, long (Python 2 only)
Floats: Decimal numbers, e.g., float
Complex: Complex numbers, e.g., complex

# Number variables
int_var = 10
float_var = 3.14
complex_var = 1 + 2j
Strings:
Strings are sequences of characters, enclosed in single, double, or triple quotes.

# String variables
str_var1 = 'Hello'
str_var2 = "World"
str_var3 = '''Triple quoted string can span multiple lines.'''
Booleans:
Booleans represent one of two values: True or False.

# Boolean variables
bool_var1 = True
bool_var2 = False
Lists:
Lists are ordered, mutable collections of items.

# List variable
list_var = [1, 2, 3, 'four', 5.0]
Tuples:
Tuples are ordered, immutable collections of items.

# Tuple variable
tuple_var = (1, 2, 3, 'four', 5.0)
Dictionaries:
Dictionaries are unordered collections of key-value pairs.

# Dictionary variable
dict_var = {'name': 'Alice', 'age': 25, 'height': 5.7}

# set
Sets:
Sets are unordered collections of unique items.

# Set variable
set_var = {1, 2, 3, 4, 5}

In [ ]:
Operators in Python are special symbols that perform operations on variables and values. Python supports a variety of operators, categorized into different types based on their functionality.

1. Arithmetic Operators
Arithmetic operators are used to perform mathematical operations.

Addition (+): Adds two operands.
Subtraction (-): Subtracts the second operand from the first.
Multiplication (*): Multiplies two operands.
Division (/): Divides the first operand by the second.
Modulus (%): Returns the remainder when the first operand is divided by the second.
Exponentiation (**): Raises the first operand to the power of the second.
Floor Division (//): Divides the first operand by the second and returns the largest integer less than or equal to the result.

a = 10
b = 3

print(a + b)  # Addition: 13
print(a - b)  # Subtraction: 7
print(a * b)  # Multiplication: 30
print(a / b)  # Division: 3.3333333333333335
print(a % b)  # Modulus: 1
print(a ** b) # Exponentiation: 1000
print(a // b) # Floor Division: 3
2. Comparison Operators
Comparison operators are used to compare two values. They return a boolean value (True or False).

Equal (==): Returns True if both operands are equal.
Not Equal (!=): Returns True if operands are not equal.
Greater Than (>): Returns True if the first operand is greater than the second.
Less Than (<): Returns True if the first operand is less than the second.
Greater Than or Equal To (>=): Returns True if the first operand is greater than or equal to the second.
Less Than or Equal To (<=): Returns True if the first operand is less than or equal to the second.

a = 10
b = 3

print(a == b)  # Equal: False
print(a != b)  # Not Equal: True
print(a > b)   # Greater Than: True
print(a < b)   # Less Than: False
print(a >= b)  # Greater Than or Equal To: True
print(a <= b)  # Less Than or Equal To: False
3. Logical Operators
Logical operators are used to combine conditional statements.

And (and): Returns True if both statements are true.
Or (or): Returns True if at least one of the statements is true.
Not (not): Reverses the result, returns False if the result is true.

a = True
b = False

print(a and b) # And: False
print(a or b)  # Or: True
print(not a)   # Not: False
4. Assignment Operators
Assignment operators are used to assign values to variables.

Assignment (=): Assigns a value to a variable.
Add and Assign (+=): Adds and assigns the value.
Subtract and Assign (-=): Subtracts and assigns the value.
Multiply and Assign (*=): Multiplies and assigns the value.
Divide and Assign (/=): Divides and assigns the value.
Modulus and Assign (%=): Modulus and assigns the value.
Exponentiation and Assign (**=): Exponentiation and assigns the value.
Floor Division and Assign (//=): Floor division and assigns the value.

a = 10
b = 3

a += b  # a = a + b
print(a)  # 13

a -= b  # a = a - b
print(a)  # 10

a *= b  # a = a * b
print(a)  # 30

a /= b  # a = a / b
print(a)  # 10.0

a %= b  # a = a % b
print(a)  # 1.0

a **= b  # a = a ** b
print(a)  # 1.0

a //= b  # a = a // b
print(a)  # 0.0
5. Bitwise Operators
Bitwise operators are used to perform bit-level operations.

AND (&): Sets each bit to 1 if both bits are 1.
OR (|): Sets each bit to 1 if one of two bits is 1.
XOR (^): Sets each bit to 1 if only one of two bits is 1.
NOT (~): Inverts all the bits.
Left Shift (<<): Shifts bits to the left.
Right Shift (>>): Shifts bits to the right.

a = 10  # 1010 in binary
b = 4   # 0100 in binary

print(a & b)  # AND: 0 (0000 in binary)
print(a | b)  # OR: 14 (1110 in binary)
print(a ^ b)  # XOR: 14 (1110 in binary)
print(~a)     # NOT: -11 (invert all bits)
print(a << 1) # Left Shift: 20 (10100 in binary)
print(a >> 1) # Right Shift: 5 (0101 in binary)
6. Membership Operators
Membership operators are used to test if a sequence is present in an object.

in: Returns True if a sequence with the specified value is present in the object.
not in: Returns True if a sequence with the specified value is not present in the object.

x = ["apple", "banana", "cherry"]

print("banana" in x)      # True
print("grape" not in x)   # True
7. Identity Operators
Identity operators are used to compare the memory locations of two objects.

is: Returns True if both variables are the same object.
is not: Returns True if both variables are not the same object.

x = ["apple", "banana", "cherry"]
y = ["apple", "banana", "cherry"]
z = x

print(x is z)      # True
print(x is y)      # False
print(x == y)      # True
print(x is not y)  # True
print(x != y)      # False
Summary of Operators
Arithmetic Operators perform mathematical operations.
Comparison Operators compare two values and return a boolean.
Logical Operators combine conditional statements.
Assignment Operators assign and modify the value of a variable.
Bitwise Operators perform operations on binary representations of numbers.
Membership Operators test if a value or variable is found in a sequence.
Identity Operators compare the memory locations of two objects.

In [ ]:
1. Defining a Function
A function is defined using the def keyword, followed by the function name and parentheses (). Any parameters should be placed within the parentheses. The function body starts with a colon : and is indented.

2. Calling a Function
A function is called by using its name followed by parentheses. If the function requires arguments, they are passed within the parentheses.

3. Function Parameters
Functions can take parameters (arguments) to provide additional information. Parameters are specified within the parentheses in the function definition.

4. Default Parameters
Default parameters allow you to specify default values for parameters. If no argument is provided, the default value is used.

5. Return Statement
The return statement is used to exit a function and return a value to the caller. A function can return any type of value.

6. Variable Scope

Local Variables: Variables declared inside a function are local to that function and cannot be accessed outside of it.
Global Variables: Variables declared outside of all functions are global and can be accessed from any part of the program.
7. Global Keyword
To modify a global variable inside a function, use the global keyword.

8. Function with Variable-Length Arguments
Functions can accept a variable number of arguments using *args for non-keyword arguments and **kwargs for keyword arguments.

*args: Allows a function to accept any number of positional arguments.
**kwargs: Allows a function to accept any number of keyword arguments.

In [5]:
# variable
# = is an assignment operator

# Types of variable 
# Integer
a = 12 # integer
b = 12.45 # float
print (type(a),type(b))

<class 'int'> <class 'float'>

In [6]:
# String

str = 'This is a class'
print (str,type(str))

This is a class <class 'str'>

In [8]:
# boolean

bool_test = True
print (bool_test)

True

In [11]:
#
test = None
print (type(test),test)

<class 'NoneType'> None

In [20]:
# collection

#list  -  it is part of collection
# these are mutable -  its values can be changed
# i.e group/ collection of different primitive data types
lst = [2,'ast',2.6,None]

print (lst,type(lst))

# tuple
# these are immutable
# servers output data generally are in tuples
tpl = (1,3,4,5,'tst')
print (tpl, type(tpl))
# difference between tuple and list
    # tuple are immutable and list are mutable
# dictionaries -
# key value based datatype
dct = {
    'name': 'Roy',
    'age' : 24,
    'gender': 'Male',
    'enrolled': True,
    'weight': 45.78
}
print (dct,type(dct))
# json is generated from dictionaries
# set
# set would contain only the distict values
set_exp = {1,1,1,1,1, 3, 4, 4, 5, 'tst'}
print (set_exp,type(set_exp))

[2, 'ast', 2.6, None] <class 'list'>
(1, 3, 4, 5, 'tst') <class 'tuple'>
{'name': 'Roy', 'age': 24, 'gender': 'Male', 'enrolled': True, 'weight': 45.78} <class 'dict'>
{1, 3, 4, 5, 'tst'} <class 'set'>

In [ ]:
# operators

In [ ]:
# int + int = int
# int + float = float
# int +

In [35]:
#arithmetic operators
a = 10
b = 5
print (a,b)
# ** - to give the power
# % - to give the remainder

print (a + b,a - b,a * b,a ** b,a / b,a % b,a // b)
# print (a = 5) == a= a+5

SyntaxError: invalid syntax (3741105632.py, line 9)

In [ ]:
Equal (==): Returns True if both operands are equal.
Not Equal (!=): Returns True if operands are not equal.
Greater Than (>): Returns True if the first operand is greater than the second.
Less Than (<): Returns True if the first operand is less than the second.
Greater Than or Equal To (>=): Returns True if the first operand is greater than or equal to the second.
Less Than or Equal To (<=): Returns True if the first operand is less than or equal to the second.

In [29]:
a = 10
b = 2.5
c = 'test'
d = 'test1'
e = True # True or False
f = None
g = 12

In [42]:
print (a + c)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [41]:
# a == 12,
a > g, a > 12,e != False, a>=g , a<=g 
print (a == 10, a > g, a < 12,e != False, a >= g , a <=g)

print ((False !=  True))

True False True True False True
True

In [ ]:
# Logical operators
# And (and): Returns True if both statements are true.
# Or (or): Returns True if at least one of the statements is true.
# Not (not): Reverses the result, returns False if the result is true.

In [44]:
# Boolean and boolean
print (False and True,False or True, not False)

False True True

In [54]:
# 
a = 25
b = 12
# print a and b are divisible by 5 or not  as TRUE or FALSE
# print TRUE if either a or b is divisble by 5

In [57]:
print (a%5)# arithmetic operator
# this means the remainder is 0
print (a%5 == 0)# comparison operator
print (b%5 == 0)# comparison operator
# print (True and False)
print ((a%5 == 0) and (b%5 == 0))
print ((a%5 == 0) or (b%5 == 0))

0
True
False
False
True

In [59]:
# bitwise operator
a = 10  # 1010 in binary
b = 4   # 0100 in binary

print(a & b)  # AND: 0 (0000 in binary)
print(a | b)  # OR: 14 (1110 in binary)
print(a ^ b)  # XOR: 14 (1110 in binary)
print(~a)     # NOT: -11 (invert all bits)
print(a << 1) # Left Shift: 20 (10100 in binary)
print(a >> 1) # Right Shift: 5 (0101 in binary)

4
5
1
-5
8
2

In [ ]:
# membership operators
# in 
# not in

In [189]:
x = ["apple", "banana", "cherry"]

In [191]:
'apple' not in x

False

In [78]:
x = ["apple", "banana", "cherry"]
y = ["apple", "banana", "cherry"]
z = x
print (id(x),id(y),id(z)) # memory location of variables
print(x is z)      # True
# x[2] = 'choryy'
print (x,z)
print(x is y)      # False
print(x == y)      # True
print(x is not y)  # True
print(x != y)

4358950848 4372676352 4358950848
True
['apple', 'banana', 'cherry'] ['apple', 'banana', 'cherry']
False
True
True
False

In [80]:
# runtime variable assignment
name = input("Enter your name")

Enter your name test

In [88]:
weight = input("Enter your age")

Enter your age 76.4

In [89]:
print (name,type(name))

23.6 <class 'str'>

In [93]:
print (weight,type(weight))

76.4 <class 'str'>

In [108]:
# explicit conversion of datatype
print (type(float(weight)))

<class 'float'>
76

In [97]:
a= 5

In [109]:
b=5.5
s = 'test'

In [105]:
type(float(a)+b)

float

In [113]:
int('7')

7

In [ ]:
# write a program to 
#take username and age from user and then add 15 to the age entered by the user

In [124]:
a = 5
p = 4

In [125]:
a = 8
print (p)

4

In [119]:
# dynamic assignment of variable
    # variable assignment would be done 
username = input("enter username")
age = input("enter age")

# operations
    # explicit type comversion: int(age)
    # arithmetic operation on int(age) + 15
    # assignment operation on age = int(age) + 15

age = int(age) +15

print (username,age)

enter username ad
enter age 45

In [133]:
# another way of assignment of mulitple values at once
# note it all would point to the same memory location
# untill a variable's value is changed
# once the value is changed the variables memory location is changed
a = b = c = 5
print (id(a),id(b),id(c))
# a = b =7
print (a,b,c)
a = 15
print (a,b,c)

print (id(a),id(b),id(c))
c = 56
print (id(a),id(b),id(c))

4304844136 4304844136 4304844136
5 5 5
15 5 5
4304844456 4304844136 4304844136
4304844456 4304844136 4304845768

In [115]:
print (a,b,c,id(a),id(b),id(c))

5 5 5 4304844136 4304844136 4304844136

In [134]:
a,b,c = 1,1,1
print (a,b,c,id(a),id(b),id(c))

1 1 1 4304844008 4304844008 4304844008

In [136]:
a = 7
b = 7
print (a,b,id(a),id(b))
a = 14
print (a,b,id(a),id(b))

7 7 4304844200 4304844200
14 7 4304844424 4304844200

In [ ]:
# functions

In [137]:
# are the code blocks which can be used to perform a task
# functions helps to create resusable code which can be used again and again in the code

In [139]:
# syntax
# def <function_name> (<paramete list>):
#     <function body>
#     return <return value>;

In [160]:
test_global = 30 # global variable

def sum_ret(var1,var2):
    # this is function scope start
        # any variable defined within the scope would not have access outside the finction scope
    local_var = var1 + var2
    test_local = 12
    print ("inside",test_local)
    # print(var1,var2,c)
    print (test_global) # accessing the global variable inside the function scope
    # function scope ends here after the return
    return local_var

In [161]:
# function calling
result = sum_ret(12,13)

inside 12
30

In [192]:
# test local would not have 
print (local_var)

NameError: name 'local_var' is not defined

In [ ]:
# scope
# existence of any variable is defined by scope

In [144]:
sum_ret(3,5)

3 5 8

8

In [ ]:
# write a program to calculate addition substraction division for 2 numbers taken from user
# inside a finction calculate all these values and print inside the function

In [182]:
def calculator(a,b):
    result_sum = a+b
    result_sub = a-b
    result_mul = a*b
    result_div = a/b
    # print (result_sum,result_sub,result_mul,result_div)
    return result_sum,result_sub,result_mul,result_div,a,b

In [175]:
print (type(calculator(15,20)))

<class 'list'>

In [178]:
calculator(14,20)

(34, -6, 280, 0.7)

In [183]:
# result_sum,result_sub,result_mul,result_div,a,b
result_sum,result_sub,result_mul,result_div,a,b = calculator(15,20)

In [193]:
a += 4
print (a)

35