In [ ]:
# grouping loopin over - revision - done
# Ranking in Dataframe - rank ()
# Dataframe Concat
# Dataframe Joins
# Dataframe Merge
# difference between them
# pivot melt : from documentation

# dropping of columns using the function - done
# duplicates checking duplicated function: keep df.duplicated([<cols>]) - done

In [ ]:
import pandas as pd
csv_file_path = "/Users/ankitkumarsingh/Documents/imarticus/class_imc/Python/employee_details.csv"
df = pd.read_csv(csv_file_path)
df.columns = [cols.lower().replace('\t','') for cols in df.columns]

In [ ]:
df.head()

In [ ]:
# ranking the data frame based on columns list
# for all other parameters we can refer to the documentation
df['salary'].rank(ascending = False)

In [ ]:
department_df = pd.read_csv('Department_Details.csv')

In [ ]:
department_df.columns
# {'EMPLOYEE_ID':'employee_id'}
# dict1 = {}
# for col in department_df.columns:
#     print (col,col.lower())
#     dict1[col] = col.lower()
# print (dict1)

rename_dict = dict(zip(department_df.columns,[cols.lower() for cols in department_df.columns]))

In [ ]:
rename_dict

In [ ]:
department_df.columns

In [ ]:
# 'TEST'.lower()

# [cols.lower() for cols in department_df.columns]
# Alternative to specifying axis (mapper, axis=1 is equivalent to columns=mapper).
department_df.rename(rename_dict,axis = 1)
department_df = department_df.rename(columns = rename_dict)
# department_df.rename(columns = rename_dict,inplace = True)

In [ ]:
# for functions which have updation on the dataframe 
# would generaaly have inplace as a parameter to manipulate 
# the values in the original dataframe or store the returned dataframe into a new dataframe
department_df

In [ ]:
department_df[department_df.duplicated(subset = 'department_name',keep = 'first')]

In [ ]:
department_df.drop(columns = ['department_name','location_id'])

# To delete all the even positioned values in the department_df using drop
# department_df.drop(index = ['department_name','location_id'])
# for l in department_df.index # range(0,n)
department_df.drop(index = [l for l in list(department_df.index) if l%2 == 0])
# department_df[[l%2 != 0 for l in list(department_df.index)]]

In [ ]:
# Creating first dataframe
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
 
# Creating second dataframe
df2 = pd.DataFrame({'A': ['A4', 'A5', 'A6', 'A7'],
                    'B': ['B4', 'B5', 'B6', 'B7'],
                    'C': ['C4', 'C5', 'C6', 'C7'],
                    'D': ['D4', 'D5', 'D6', 'D7']},
                   index=[4, 5, 6, 7])
 
# Creating third dataframe
df3 = pd.DataFrame({'A': ['A8', 'A9', 'A10', 'A11'],
                    'B': ['B8', 'B9', 'B10', 'B11'],
                    'C': ['C8', 'C9', 'C10', 'C11'],
                    'D': ['D8', 'D9', 'D10', 'D11']},
                   index=[8, 9, 10, 11])
# Creating third dataframe
df4 = pd.DataFrame({'E': ['E8', 'E9', 'E10', 'A11'],
                    'F': ['F8', 'F9', 'B10', 'B11'],
                    'G': ['F8', 'F9', 'C10', 'C11'],
                    'H': ['F8', 'F9', 'D10', 'D11']},
                   index=[8,9 , 10, 11])

In [ ]:
df1,df2,df3

In [ ]:
# concat:
#  this is used to concat/ stack a dataframe onto another
pd.concat([df3,pd.concat([df1,df2])])

In [ ]:
pd.concat([df3,df4],axis = 1)

In [ ]:
# merge - left,right,inner, full ,outer
# join - joininng the dataframes based on the index column

In [ ]:
# Dataframe created
left = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                     'A': ['A0', 'A1', 'A2', 'A3'],
                     'B': ['B0', 'B1', 'B2', 'B3']})
 
right = pd.DataFrame({'Key': ['K0', 'K1', 'K2', 'K3'],
                      'C': ['C0', 'C1', 'C2', 'C3'],
                      'D': ['D0', 'D1', 'D2', 'D3']})

In [ ]:
left.join(right,rsuffix = '_right')

In [ ]:
df,department_df

In [ ]:
# index setting and resetting:
# df.set_index('<column_name>')
emp_df = df[1:8]

In [ ]:
#### emp_df,df
emp_df = emp_df.set_index('employee_id')
print (emp_df.columns,emp_df)
# reset_index
emp_df.reset_index(inplace = True)
print ("after rest_index")
print (emp_df,emp_df.columns)

In [ ]:
# setting the employee_id as index for both dataframes

emp_df.set_index('employee_id',inplace = True)
df.set_index('employee_id',inplace = True)

In [ ]:
emp_df.index,df.index

In [ ]:
# join would join based on the index values from both the dataframes
emp_df.join(df,lsuffix='_original',rsuffix = '_new')

In [ ]:
department_df.set_index('employee_id',inplace = True)

In [ ]:
df,department_df

department_df.drop([102,103,104],inplace = True)

In [ ]:
department_df

In [ ]:
# df.join(department_df,rsuffix = '_dept',how= 'left')
df.join(department_df,rsuffix = '_dept',how = 'inner')
# default is left for how

In [ ]:
df.join(department_df,lsuffix='_emp',rsuffix = '_dept')

In [ ]:
# reverting the indexes
df.reset_index(inplace = True)
department_df.reset_index(inplace = True)

In [ ]:
# merge
# used when column names are different in each dataframes
df.merge(department_df.rename(columns = {'department_id':'dept_id'}),left_on = 'department_id',right_on = 'dept_id')
# used when column names are same in both the dataframes
df.merge(department_df,on = 'department_id')
# for suffixes for common columns we use suffixes
df.merge(department_df,on = 'department_id',suffixes = ('_emp','_dept'),)
# how would tell the type of join -  inner is the default
df.merge(department_df,on = 'department_id',how = 'left')
df.merge(department_df,on = 'department_id',how = 'right')
df.merge(department_df,on = 'department_id',how = 'inner')

In [ ]:
# pivot
# melt
# groupby would group the data based on the column provided
df.groupby('department_id').sum()['salary']
# transpose would make the columns as rows and rows as columns
df.transpose()
# pivot table would create a pivot table for the column values provided,value column and aggfunc provided
pivot_df = df.pivot_table(columns = 'department_id',values = 'salary',aggfunc = 'sum')
# melt would return the pivot tables back to its original form

In [ ]:
pivot_df

In [ ]:
# pivot_df.melt(value_vars = 'salary',id_vars = [60,70,80])