In [ ]:
# loops - for,while,nested,break,continue,pass,nested, sum,max,search,occurence,patterns
# comments in python
# \t \n, sep in print
# f'{}','{}'.format(),and simple comma separated

# lambda functions
# map, filter , reduce

In [ ]:
# raw - for text which is not executable
# markdown - this is for heading
# code -  this is executable

In [1]:
# comments
# -  this is single line comment
'''
This is multiline comment
'''

'\nThis is multiline comment\n'

In [ ]:
# loops 
Whenever we want to execute a block of code again and again we use loops

In [ ]:
# for loop
# while loop

In [3]:
lst = [1,2,3,4,5,6,7,8,9]

In [5]:
for l in lst:
    print (l)

# syntax for <iterable_variabl> in <iterator>:

SyntaxError: invalid syntax (3290625537.py, line 4)

In [ ]:
while (<condition>):
    <loop body>
# the loop body will execute untill the statement inside the while condition is true

In [9]:
i = 0
lst[i]

while (i <= 8):
    print (i)
    i = i + 1

0
1
2
3
4
5
6
7
8

In [ ]:
# differnce in usage of while and for loop
# use use for loop when we have the range fixed/ or we have the loop counts with us
# we use while when we arent sure about the end of the loop

In [15]:
# break would terminate the loop 
# continue makes the loop skip the current loop and jump to the next iterative element in the loop
for i in lst:
    if i==3:
        print ("now the program will skip to the next element in the loop: continue command")
        continue
    print (i)
    if i == 5:
        print ("control of the program would come out of the loop: break command")
        break

1
2
now the program will skip to the next element in the loop: continue command
4
5
control of the program would come out of the loop: break command

In [ ]:
# print statement

In [32]:
a,b,c = 1,2,4
print (a,b,c,sep = ",")
print (a,b,c,sep = "\t") # \t is for tabbed separator
print (a,b,c,sep = "\n") # \n is for next line
print (a,b,c,sep = "\n",end = "test") # end is for adding anythin 
print (a,b,c,sep = "\n",end = "\ntest") # end is for adding anythin 

# formatting the output in print
print ('\na = {} \nb = {} c = {}'.format(5,b,c))
print (f'\na = {a} \nb = {b} c = {c}')

1,2,4
1	2	4
1
2
4
1
2
4test1
2
4
test
a = 5
b = 2 c = 4

a = 1
b = 2 c = 4

In [39]:
# nested loop:
## loop inside loop
## for each value of the outer loop the inner loop would exeute completely
lst_2d = [[1,2,3,4,5],[6,7,8,9,10]]
# print (lst_2d[0][1],lst_2d[1])
for each_list in lst_2d:
    print (f"this is the {each_list}")
    for j in each_list:
        print (j)

[1, 2, 3, 4, 5]
1
2
3
4
5
[6, 7, 8, 9, 10]
6
7
8
9
10

In [40]:
lst_2d[0]
0,1,2,3,4 # if we want to generate this- we use range (start,stop,step = 1(default))

[1, 2, 3, 4, 5]

In [57]:
# write a program to find all the even indexed values
test = lst_2d[0]
print ("this is our list ",test,"length of the list is ",len(test))
print ("this is how we are creating the list of indexes for the list",list(range(0,5)))

for i in range(0,len(test)):
    print (f'this is the i value {i} value in the list {test[i]} ie test[{i}]')

this is our list  [1, 2, 3, 4, 5] length of the list is  5
this is how we are creating the list of indexes for the list [0, 1, 2, 3, 4]
this is the i value 0 value in the list 1 ie test[0]
this is the i value 1 value in the list 2 ie test[1]
this is the i value 2 value in the list 3 ie test[2]
this is the i value 3 value in the list 4 ie test[3]
this is the i value 4 value in the list 5 ie test[4]

In [78]:
# write a program to find all the even indexed values
lst_2d
print ("this is our list ",lst_2d)
print ("length of the list 2d is ",len(lst_2d),"\nthis is the length of the first element",len(lst_2d[0]))
# for i in range(0,len(lst2d))

for i in range(len(lst_2d)):
    print (f'i = {i} , lst_2d[i] = {lst_2d[i]} , length = {len(lst_2d[i])}')
    for j in range(len(lst_2d[i])):
        print (f'i = {i} j = {j} lst_2d[{i}][{j}] = {lst_2d[i][j]}')

lst_2d[i][4]

this is our list  [[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]
length of the list 2d is  2
this is the length of the first element 5
i = 0 , lst_2d[i] = [1, 2, 3, 4, 5] , length = 5
i = 0 j = 0 lst_2d[0][0] = 1
i = 0 j = 1 lst_2d[0][1] = 2
i = 0 j = 2 lst_2d[0][2] = 3
i = 0 j = 3 lst_2d[0][3] = 4
i = 0 j = 4 lst_2d[0][4] = 5
i = 1 , lst_2d[i] = [6, 7, 8, 9, 10] , length = 5
i = 1 j = 0 lst_2d[1][0] = 6
i = 1 j = 1 lst_2d[1][1] = 7
i = 1 j = 2 lst_2d[1][2] = 8
i = 1 j = 3 lst_2d[1][3] = 9
i = 1 j = 4 lst_2d[1][4] = 10

10

In [ ]:
# sum,max,search,occurence

In [80]:
test_list = [12,23,45,55,65,72,12,11,14,85,90,65,65,65]
# 1 Write a program to fina the sum of all the elements in the list using loop
# 2 Write a program to fina the max of all the elements in the list using loop
# 3 Write a program to fina the min of all the elements in the list using loop
# 4 Write a program to fina if the number 65 is present in the list using loop
# 5 Write a program to find the occurence of 65  in the list

In [87]:
# 1
# sum(test_list)
total_sum = 0
for vals in test_list:
    print ("value:",vals,"sum:",total_sum)
    total_sum += vals
print ("final total sum = ",total_sum)

value: 12 sum: 0
value: 23 sum: 12
value: 45 sum: 35
value: 55 sum: 80
value: 65 sum: 135
value: 72 sum: 200
value: 12 sum: 272
value: 11 sum: 284
value: 14 sum: 295
value: 85 sum: 309
value: 90 sum: 394
value: 65 sum: 484
value: 65 sum: 549
value: 65 sum: 614
final total sum =  679

In [90]:
# 2
# choose a number which is generally very low like -999999999 
# or take the first element from the list - note that the list must contain elements atleast 1 to work
# max(test_list)
max_num = test_list[0]
for vals in test_list:
    if vals > max_num:
        print (f'max_num currently is : {max_num} and current number is {vals}')
        max_num = vals 
    else:
        print (f'the number {vals} is less than the max number {max_num}')
print (max_num)

the number 12 is less than the max number 12
max_num currently is : 12 and current number is 23
max_num currently is : 23 and current number is 45
max_num currently is : 45 and current number is 55
max_num currently is : 55 and current number is 65
max_num currently is : 65 and current number is 72
the number 12 is less than the max number 72
the number 11 is less than the max number 72
the number 14 is less than the max number 72
max_num currently is : 72 and current number is 85
max_num currently is : 85 and current number is 90
the number 65 is less than the max number 90
the number 65 is less than the max number 90
the number 65 is less than the max number 90
90

In [91]:
# 2
# choose a number which is generally very high like 999999999 
# or take the first element from the list - note that the list must contain elements atleast 1 to work
# min(test_list)
min_num = test_list[0]
for vals in test_list:
    if vals < min_num:
        print (f'min_num currently is : {min_num} and current number is {vals}')
        max_num = vals 
    else:
        print (f'the number {vals} is not less than the min number {min_num}')
print (max_num)

the number 12 is not less than the min number 12
the number 23 is not less than the min number 12
the number 45 is not less than the min number 12
the number 55 is not less than the min number 12
the number 65 is not less than the min number 12
the number 72 is not less than the min number 12
the number 12 is not less than the min number 12
min_num currently is : 12 and current number is 11
the number 14 is not less than the min number 12
the number 85 is not less than the min number 12
the number 90 is not less than the min number 12
the number 65 is not less than the min number 12
the number 65 is not less than the min number 12
the number 65 is not less than the min number 12
11

In [98]:
# searching of number 65

num_search = 65
# num_search in test_list # 
for vals in test_list:
    if num_search == vals:
        print ("number found")
        break

True

In [100]:
# searching of number 65 and print its index
num_search = 65
# print (test_list.index(65))
for i in range(0,len(test_list)):
    print (f'index : {i}, value: {test_list[i]}')
    if num_search == test_list[i]:
        print (f"number found {num_search} at index {i}",)
        # break

4
index : 0, value: 12
index : 1, value: 23
index : 2, value: 45
index : 3, value: 55
index : 4, value: 65
number found 65 at index 4
index : 5, value: 72
index : 6, value: 12
index : 7, value: 11
index : 8, value: 14
index : 9, value: 85
index : 10, value: 90
index : 11, value: 65
number found 65 at index 11
index : 12, value: 65
number found 65 at index 12
index : 13, value: 65
number found 65 at index 13

In [105]:
# sum of numbers at the index 5 and 10
index_1 = 5
index_2 = 10
sum_indexes = 0
# print (sum([test_list[5],test_list[10]]))
for i in range(0,len(test_list)):
    print (f'index : {i}, value: {test_list[i]}')
    if i == 5 or i == 10:
        print (f"the current index is {i} it is either {index_1} or {index_2}")
        sum_indexes += test_list[i]
print ("sum_indexes",sum_indexes)

162
index : 0, value: 12
index : 1, value: 23
index : 2, value: 45
index : 3, value: 55
index : 4, value: 65
index : 5, value: 72
the current index is 5 it is either 5 or 10
index : 6, value: 12
index : 7, value: 11
index : 8, value: 14
index : 9, value: 85
index : 10, value: 90
the current index is 10 it is either 5 or 10
index : 11, value: 65
index : 12, value: 65
index : 13, value: 65
sum_indexes 162

In [111]:
# 5 Write a program to find the occurence of 65  in the list
num = 65
counter = 0
# occurence = {num: 4,'test':15,'check':[1,2,3,4,5]}
for i in range(0,len(test_list)):
    if (num == test_list[i]):
        counter += 1
print (f"the number {num} has occured {counter} times")

the number 65 has occured 4 times

In [130]:
# we know that in dictionary the keys are unique
# 
# t = {2:'two'}
# t[1] = 'one'
# print (t)

{2: 'two', 1: 'one'}

In [126]:
test_list

[12, 23, 45, 55, 65, 72, 12, 11, 14, 85, 90, 65, 65, 65, 12, 45, 85]

In [151]:
# 5 Write a program to find the occurence of all the numbers in the list -  interview question
occurence = {}
print (test_list)
for num in test_list:
    
    if num in occurence:
        occurence[num] += 1
        # print (f'num {num} already in dictionary soo adding 1 ,occurence: {occurence}')
    else:
        # print (f'num {num} not in occurence {occurence}')
        occurence[num] = 1
print (occurence,f'\noccurence of 65 in the list is {occurence[65]} times')
    # print (f'the current value is {test_list[i]},occurence dictionary is : {occurence}')
# print (f"the number {num} has occured {occurence[num]} times")

[12, 23, 45, 55, 65, 72, 12, 11, 14, 85, 90, 65, 65, 65, 12, 45, 85]
{12: 3, 23: 1, 45: 2, 55: 1, 65: 4, 72: 1, 11: 1, 14: 1, 85: 2, 90: 1}
occurence of 65 in the list is 4 times

In [169]:
def check_even(num = 2):
    if num % 2 == 0:
        print ("even")
    else:
        print ("odd")
check_even()
check_even(4)

even
even

In [201]:
# function - userdefined functions
test_list = [12,34,56,66,78,86,25,22,12,13,12,12,45,55]
def div_10(test_lst):
    print (test_lst,test_list,id(test_list),id(test_lst))
    test_list2 = []
    for i in range(len(test_lst)):
        test_list2.append(test_lst[i]/10)
    return test_list2

In [202]:
# calling of the function
print (div_10(test_list))
print (test_list)

[12, 34, 56, 66, 78, 86, 25, 22, 12, 13, 12, 12, 45, 55] [12, 34, 56, 66, 78, 86, 25, 22, 12, 13, 12, 12, 45, 55] 4435559808 4435559808
[1.2, 3.4, 5.6, 6.6, 7.8, 8.6, 2.5, 2.2, 1.2, 1.3, 1.2, 1.2, 4.5, 5.5]
[12, 34, 56, 66, 78, 86, 25, 22, 12, 13, 12, 12, 45, 55]

In [210]:
def div_10_num(val):
    return val/10
func_var = div_10_num
print (func_var(12))

1.2
3.4
5.6
6.6
7.8
8.6
2.5
2.2
1.2
1.3
1.2
1.2
4.5
5.5

In [208]:
test = lambda val: val/100

In [218]:
type(test),test(12)

(function, 1.2)

In [220]:
# apply the function div_10_num to the each element of the list
print(list(map(div_10_num,test_list)))
# for vals in test_list:
#     print (test(vals))

[1.2, 3.4, 5.6, 6.6, 7.8, 8.6, 2.5, 2.2, 1.2, 1.3, 1.2, 1.2, 4.5, 5.5]

In [ ]:
# note that we can assign functions to avariable

In [213]:
print (test(24))
print (div_10_num(24))

2.4
2.4

In [224]:
# function to find all the even values
def check_even(val):
    if val % 2 == 0:
        return True
    else:
        return False
check_even(14)

True

In [227]:
# Construct an iterator from those elements of iterable for which function is true. 
# iterable may be either a sequence, a container which supports iteration, or an iterator. If function is None, the identity function is assumed, that is, all elements of iterable that are false are removed.
list(filter(check_even,test_list))

[12, 34, 56, 66, 78, 86, 22, 12, 12, 12]

In [228]:
list(map(check_even,test_list))

[True,
 True,
 True,
 True,
 True,
 True,
 False,
 True,
 True,
 False,
 True,
 True,
 False,
 False]

In [232]:
# reduce 
reduce_list = [1,2,3,4,5,6,7,8,9,10]
from functools import reduce
add_func = lambda x,y: x+y
print (add_func(2,6))
reduce(add_func,reduce_list)

8

55

In [ ]:
#lambda
# lambda functions are anonymous functions used for single line operations and ease
# lambda <paramter>: <expression>

In [177]:
# default parameter
def hello_func(name,greeting="hello"):
    print (f'{greeting } {name}')
hello_func("Ravi", "Hello")
hello_func("Ravi", "wassup")
hello_func("Ravi")

Hello Ravi
wassup Ravi
hello Ravi

In [ ]:
# while question
# map reduce filter revision
# nested loop patter programs
# question