In [ ]:
# pandas
    # pandas series, data frame
    # class pandas.Series(data=None, index=None, dtype=None, name=None, copy=None, fastpath=_NoDefault.no_default)
    # version check
    # difference between pandas series and numpy series
    # Series creation
        # pd.series (list,labels)
        # pd.series (<dictionary>)
        # dataframe creation using dictionary
        # dataframe creation using  index and data :named index
    # Reading data : csv,xls,json,sql
    # shape,dtypes,info,values,head,tail,sample,describe,
    # sum,min,max,mean,median,variance,std,unique,value counts
    
# virtual environment

In [ ]:
# installation of pandas
# pip install pandas

In [1]:
import pandas as pd

In [3]:
print (pd,type(pd))

<module 'pandas' from '/opt/anaconda3/lib/python3.11/site-packages/pandas/__init__.py'> <class 'module'>

In [5]:
# dataypes / datastructures in pandas:
    # series
    # dataframe
# Series is 1d array
pd.Series()
# difference between pandas seriess and numpy array
    # for pandas series can be accessed using labels
    # numpy array cant be used using labels

Series([], dtype: object)

In [9]:
# series definition without index:
    # default indexing would be numerical starting from 0
ser_a = pd.Series([2,4,6,8,10])
# series can take labels
ser_b = pd.Series([2,4,6,8,10],index = ['a','b','c','d','e'])

In [13]:
print (ser_a,ser_b)
# accessing of series elements
print ("third value is ", ser_a[2])
print ("third value is ", ser_b['c'])

0     2
1     4
2     6
3     8
4    10
dtype: int64 a     2
b     4
c     6
d     8
e    10
dtype: int64
third value is  6
third value is  6

In [15]:
# index are the unique indentifier for a row
ser_a.index

RangeIndex(start=0, stop=5, step=1)

In [16]:
ser_b.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [20]:
# creation of series using dictionary
test_dict = {'a':2,'b':4,'c': 6,'d':8}
print ("series creation using ",pd.Series(test_dict))
print ("series creation using dictiory and selecting labels",\
       pd.Series(test_dict,index=['a','b','c']))

series creation using  a    2
b    4
c    6
d    8
dtype: int64
series creation using dictiory and selecting labels a    2
b    4
c    6
dtype: int64

In [36]:
# conversion of range type to list for creation of dictionary
indexes = list(ser_a.index) # first way to convert index to list
ser_a.index.tolist() # second way
list(ser_a.index), 
# series values are generated
ser_a.values.tolist() # first way to convert values to list
values = list(ser_a.values) # second way to convert values to list


# conversion to dictionary type
test_dict = dict(zip(indexes,values))

In [39]:
# We have a dictionary and want to create a new series but taking only even indexed values
pd.Series(test_dict,index = [l for l in test_dict.keys() if l%2== 0 ])

0     2
2     6
4    10
dtype: int64

In [ ]:
# reading of data:
# csv,xls,json,sql, if time permits: psycopg2 (for postgres)

In [117]:
df = pd.read_csv('/Users/ankitkumarsingh/Documents/imarticus/class_imc/Python/employee_details.csv')

In [118]:
print (df,type(df))

    EMPLOYEE_ID FIRST_NAME    LAST_NAME                EMAIL PHONE_NUMBER  \
0           100     Steven         King     Steven@gmail.com  515.125.678
1           101       Ross      Kochhar   Rkochhar@yahoo.com  590.126.679
2           102       Alex        Urman  AlexUrman@gmail.com  515.123.245
3           103      Bruce         Popp      Bruce@gmail.com  515.125.679
4           104      David     Raphaely   Raphaely@gmail.com  590.126.680
5           105      Nancy         Khoo      Nancy@gmail.com  515.123.246
6           106       John        Baida       John@yahoo.com  515.125.680
7           107     Daniel        Weiss      Weiss@yahoo.com  590.126.681
8           108      Sigal     Kaufling   Kaufling@yahoo.com  515.123.247
9           109       Adam      Vollman       Adam@gmail.com  515.125.681
10          110     Mathew       Himuro     Himuro@yahoo.com  590.126.682
11          111     Harvey  Mikkilineni     Harvey@gmail.com  515.123.248
12          112      Kevin       Rogers     Rogers@yahoo.com  515.125.682
13          113      Julia        Patel      Julia@yahoo.com  590.126.683
14          114      Irene       Davies     Davies@gmail.com  515.123.249
15          115      James      Zlotkey      James@gmail.com  515.125.683
16          116      Jason    Bernstein  Bernstein@yahoo.com  590.126.684
17          117      Peter         Hall       Hall@gmail.com  515.123.250
18          118     Sartha        Sully     Sartha@gmail.com  515.125.684
19          119    William        Smith      Smith@yahoo.com  590.126.685
20          120       Jack       Greene    Jgreene@gmail.com  515.123.251

   HIRE_DATE\t         JOB_ID  SALARY  MANAGER_ID\t  DEPARTMENT_ID
0   17-06-2017        AD_PRES   24000           100             90
1   23-01-2001          AD_VP   50806           100             90
2   31-08-2002        IT_PROG   54071           102             90
3   08-04-2003         FI_MGR   26969           103             60
4   15-11-2009         PU_MAN   34048           105             60
5   23-06-2005       ST_CLERK   46206           113             70
6   29-01-2009  AC_ACCOUNTANT   63090           123             70
7   06-09-1902        AD_PRES   56356           131             70
8   17-06-2017          AD_VP   23488           111             60
9   23-01-2001        IT_PROG   29047           114             90
10  17-06-2017         FI_MGR   51428           145            100
11  23-01-2001         PU_MAN   61770           145            100
12  17-06-2017       ST_CLERK   30897           112             70
13  23-01-2001  AC_ACCOUNTANT   59197           131             80
14  17-06-2017        AD_PRES   61211           121             80
15  23-01-2001          AD_VP   43386           116             80
16  17-06-2017        IT_PROG   27978           117            100
17  23-01-2001         FI_MGR   46632           118             80
18  17-06-2017         PU_MAN   66662           121             60
19  23-01-2001       ST_CLERK   38628           120             70
20  17-06-2017  AC_ACCOUNTANT   20068           119             90   <class 'pandas.core.frame.DataFrame'>

In [121]:
# dataframe columns fetch
df.columns = [cols.lower().replace('\t','') for cols in df.columns]

In [90]:
# dataframe accessing
df['employee_id'],type(df['employee_id'])
df['employee_id'][5] # to get the specified index values in the series
df['employee_id'][5:8] # to get the sliced values from the series

5    105
6    106
7    107
Name: employee_id, dtype: int64

In [103]:
df[0:5] # row based slicing
# Selection of columns 
type(df['employee_id'])
type(df[['employee_id']]) 
df[['employee_id','first_name','last_name']][0:5]

   employee_id first_name last_name
0          100     Steven      King
1          101       Ross   Kochhar
2          102       Alex     Urman
3          103      Bruce      Popp
4          104      David  Raphaely

In [122]:
df

,employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
0,100,Steven,King,Steven@gmail.com,515.125.678,17-06-2017,AD_PRES,24000,100,90
1,101,Ross,Kochhar,Rkochhar@yahoo.com,590.126.679,23-01-2001,AD_VP,50806,100,90
2,102,Alex,Urman,AlexUrman@gmail.com,515.123.245,31-08-2002,IT_PROG,54071,102,90
3,103,Bruce,Popp,Bruce@gmail.com,515.125.679,08-04-2003,FI_MGR,26969,103,60
4,104,David,Raphaely,Raphaely@gmail.com,590.126.680,15-11-2009,PU_MAN,34048,105,60
5,105,Nancy,Khoo,Nancy@gmail.com,515.123.246,23-06-2005,ST_CLERK,46206,113,70
6,106,John,Baida,John@yahoo.com,515.125.680,29-01-2009,AC_ACCOUNTANT,63090,123,70
7,107,Daniel,Weiss,Weiss@yahoo.com,590.126.681,06-09-1902,AD_PRES,56356,131,70
8,108,Sigal,Kaufling,Kaufling@yahoo.com,515.123.247,17-06-2017,AD_VP,23488,111,60
9,109,Adam,Vollman,Adam@gmail.com,515.125.681,23-01-2001,IT_PROG,29047,114,90
10,110,Mathew,Himuro,Himuro@yahoo.com,590.126.682,17-06-2017,FI_MGR,51428,145,100
11,111,Harvey,Mikkilineni,Harvey@gmail.com,515.123.248,23-01-2001,PU_MAN,61770,145,100
12,112,Kevin,Rogers,Rogers@yahoo.com,515.125.682,17-06-2017,ST_CLERK,30897,112,70
13,113,Julia,Patel,Julia@yahoo.com,590.126.683,23-01-2001,AC_ACCOUNTANT,59197,131,80
14,114,Irene,Davies,Davies@gmail.com,515.123.249,17-06-2017,AD_PRES,61211,121,80
15,115,James,Zlotkey,James@gmail.com,515.125.683,23-01-2001,AD_VP,43386,116,80
16,116,Jason,Bernstein,Bernstein@yahoo.com,590.126.684,17-06-2017,IT_PROG,27978,117,100
17,117,Peter,Hall,Hall@gmail.com,515.123.250,23-01-2001,FI_MGR,46632,118,80
18,118,Sartha,Sully,Sartha@gmail.com,515.125.684,17-06-2017,PU_MAN,66662,121,60
19,119,William,Smith,Smith@yahoo.com,590.126.685,23-01-2001,ST_CLERK,38628,120,70
20,120,Jack,Greene,Jgreene@gmail.com,515.123.251,17-06-2017,AC_ACCOUNTANT,20068,119,90

In [127]:
condition = [(df['salary'] > 20000) & (df['salary'] < 30000)]
print (condition)
df[(df['salary'] > 20000) & (df['salary'] < 30000)]

[0      True
1     False
2     False
3      True
4     False
5     False
6     False
7     False
8      True
9      True
10    False
11    False
12    False
13    False
14    False
15    False
16     True
17    False
18    False
19    False
20     True
Name: salary, dtype: bool]

,employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
0,100,Steven,King,Steven@gmail.com,515.125.678,17-06-2017,AD_PRES,24000,100,90
3,103,Bruce,Popp,Bruce@gmail.com,515.125.679,08-04-2003,FI_MGR,26969,103,60
8,108,Sigal,Kaufling,Kaufling@yahoo.com,515.123.247,17-06-2017,AD_VP,23488,111,60
9,109,Adam,Vollman,Adam@gmail.com,515.125.681,23-01-2001,IT_PROG,29047,114,90
16,116,Jason,Bernstein,Bernstein@yahoo.com,590.126.684,17-06-2017,IT_PROG,27978,117,100
20,120,Jack,Greene,Jgreene@gmail.com,515.123.251,17-06-2017,AC_ACCOUNTANT,20068,119,90

In [130]:
print ("min of all columns",df.min())
print ("min of a column ",df['salary'].min())
print (df.max())
print (df.mean())
print (df['salary'].median())

TypeError: Could not convert ['StevenRossAlexBruceDavidNancyJohnDanielSigalAdamMathewHarveyKevinJuliaIreneJamesJasonPeterSarthaWilliamJack'
 'KingKochharUrmanPoppRaphaelyKhooBaidaWeissKauflingVollmanHimuroMikkilineniRogersPatelDaviesZlotkeyBernsteinHallSullySmithGreene'
 'Steven@gmail.comRkochhar@yahoo.comAlexUrman@gmail.comBruce@gmail.comRaphaely@gmail.comNancy@gmail.comJohn@yahoo.comWeiss@yahoo.comKaufling@yahoo.comAdam@gmail.comHimuro@yahoo.comHarvey@gmail.comRogers@yahoo.comJulia@yahoo.comDavies@gmail.comJames@gmail.comBernstein@yahoo.comHall@gmail.comSartha@gmail.comSmith@yahoo.comJgreene@gmail.com'
 '515.125.678590.126.679515.123.245515.125.679590.126.680515.123.246515.125.680590.126.681515.123.247515.125.681590.126.682515.123.248515.125.682590.126.683515.123.249515.125.683590.126.684515.123.250515.125.684590.126.685515.123.251'
 '17-06-201723-01-200131-08-200208-04-200315-11-200923-06-200529-01-200906-09-190217-06-201723-01-200117-06-201723-01-200117-06-201723-01-200117-06-201723-01-200117-06-201723-01-200117-06-201723-01-200117-06-2017'
 'AD_PRESAD_VPIT_PROGFI_MGRPU_MANST_CLERKAC_ACCOUNTANTAD_PRESAD_VPIT_PROGFI_MGRPU_MANST_CLERKAC_ACCOUNTANTAD_PRESAD_VPIT_PROGFI_MGRPU_MANST_CLERKAC_ACCOUNTANT'] to numeric

In [139]:
import numpy as np
increment = list(np.random.randint(1,12,21))

In [140]:
df['increment'] = increment

In [ ]:
# arithmetic operations

In [143]:
# scalar division
# can do any operation: add,multiply,subtract,divide
df['increment']/100

0     0.09
1     0.07
2     0.01
3     0.08
4     0.04
5     0.07
6     0.09
7     0.10
8     0.06
9     0.07
10    0.02
11    0.11
12    0.07
13    0.06
14    0.09
15    0.01
16    0.05
17    0.08
18    0.01
19    0.09
20    0.02
Name: increment, dtype: float64

In [145]:
# series operation
    # can do any operation between series : add,multiply,subtract,divide
inc_series = df['salary'] * df['increment']/100
# storing the results in to a new column
df['incremented_sal'] = inc_series

In [146]:
df.columns

Index(['employee_id', 'first_name', 'last_name', 'email', 'phone_number',
       'hire_date', 'job_id', 'salary', 'manager_id', 'department_id',
       'increment', 'incremented_sal'],
      dtype='object')

In [150]:
# sort_values
df.sort_values(by='salary') # string
df.sort_values(by=['salary','increment']) # col list
df.sort_values(by='salary',ascending = False) # here getting the values in descending 
# order ascending or descending default is ascending= True
df = df.sort_values(by='salary')
df.sort_values(by='salary',inplace = True)

    employee_id first_name    last_name                email phone_number  \
20          120       Jack       Greene    Jgreene@gmail.com  515.123.251
8           108      Sigal     Kaufling   Kaufling@yahoo.com  515.123.247
0           100     Steven         King     Steven@gmail.com  515.125.678
3           103      Bruce         Popp      Bruce@gmail.com  515.125.679
16          116      Jason    Bernstein  Bernstein@yahoo.com  590.126.684
9           109       Adam      Vollman       Adam@gmail.com  515.125.681
12          112      Kevin       Rogers     Rogers@yahoo.com  515.125.682
4           104      David     Raphaely   Raphaely@gmail.com  590.126.680
19          119    William        Smith      Smith@yahoo.com  590.126.685
15          115      James      Zlotkey      James@gmail.com  515.125.683
5           105      Nancy         Khoo      Nancy@gmail.com  515.123.246
17          117      Peter         Hall       Hall@gmail.com  515.123.250
1           101       Ross      Kochhar   Rkochhar@yahoo.com  590.126.679
10          110     Mathew       Himuro     Himuro@yahoo.com  590.126.682
2           102       Alex        Urman  AlexUrman@gmail.com  515.123.245
7           107     Daniel        Weiss      Weiss@yahoo.com  590.126.681
13          113      Julia        Patel      Julia@yahoo.com  590.126.683
14          114      Irene       Davies     Davies@gmail.com  515.123.249
11          111     Harvey  Mikkilineni     Harvey@gmail.com  515.123.248
6           106       John        Baida       John@yahoo.com  515.125.680
18          118     Sartha        Sully     Sartha@gmail.com  515.125.684

     hire_date         job_id  salary  manager_id  department_id  increment  \
20  17-06-2017  AC_ACCOUNTANT   20068         119             90          2
8   17-06-2017          AD_VP   23488         111             60          6
0   17-06-2017        AD_PRES   24000         100             90          9
3   08-04-2003         FI_MGR   26969         103             60          8
16  17-06-2017        IT_PROG   27978         117            100          5
9   23-01-2001        IT_PROG   29047         114             90          7
12  17-06-2017       ST_CLERK   30897         112             70          7
4   15-11-2009         PU_MAN   34048         105             60          4
19  23-01-2001       ST_CLERK   38628         120             70          9
15  23-01-2001          AD_VP   43386         116             80          1
5   23-06-2005       ST_CLERK   46206         113             70          7
17  23-01-2001         FI_MGR   46632         118             80          8
1   23-01-2001          AD_VP   50806         100             90          7
10  17-06-2017         FI_MGR   51428         145            100          2
2   31-08-2002        IT_PROG   54071         102             90          1
7   06-09-1902        AD_PRES   56356         131             70         10
13  23-01-2001  AC_ACCOUNTANT   59197         131             80          6
14  17-06-2017        AD_PRES   61211         121             80          9
11  23-01-2001         PU_MAN   61770         145            100         11
6   29-01-2009  AC_ACCOUNTANT   63090         123             70          9
18  17-06-2017         PU_MAN   66662         121             60          1

    incremented_sal
20           401.36
8           1409.28
0           2160.00
3           2157.52
16          1398.90
9           2033.29
12          2162.79
4           1361.92
19          3476.52
15           433.86
5           3234.42
17          3730.56
1           3556.42
10          1028.56
2            540.71
7           5635.60
13          3551.82
14          5508.99
11          6794.70
6           5678.10
18           666.62

In [151]:
df

,employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id,increment,incremented_sal
0,100,Steven,King,Steven@gmail.com,515.125.678,17-06-2017,AD_PRES,24000,100,90,9,2160.00
1,101,Ross,Kochhar,Rkochhar@yahoo.com,590.126.679,23-01-2001,AD_VP,50806,100,90,7,3556.42
2,102,Alex,Urman,AlexUrman@gmail.com,515.123.245,31-08-2002,IT_PROG,54071,102,90,1,540.71
3,103,Bruce,Popp,Bruce@gmail.com,515.125.679,08-04-2003,FI_MGR,26969,103,60,8,2157.52
4,104,David,Raphaely,Raphaely@gmail.com,590.126.680,15-11-2009,PU_MAN,34048,105,60,4,1361.92
5,105,Nancy,Khoo,Nancy@gmail.com,515.123.246,23-06-2005,ST_CLERK,46206,113,70,7,3234.42
6,106,John,Baida,John@yahoo.com,515.125.680,29-01-2009,AC_ACCOUNTANT,63090,123,70,9,5678.10
7,107,Daniel,Weiss,Weiss@yahoo.com,590.126.681,06-09-1902,AD_PRES,56356,131,70,10,5635.60
8,108,Sigal,Kaufling,Kaufling@yahoo.com,515.123.247,17-06-2017,AD_VP,23488,111,60,6,1409.28
9,109,Adam,Vollman,Adam@gmail.com,515.125.681,23-01-2001,IT_PROG,29047,114,90,7,2033.29
10,110,Mathew,Himuro,Himuro@yahoo.com,590.126.682,17-06-2017,FI_MGR,51428,145,100,2,1028.56
11,111,Harvey,Mikkilineni,Harvey@gmail.com,515.123.248,23-01-2001,PU_MAN,61770,145,100,11,6794.70
12,112,Kevin,Rogers,Rogers@yahoo.com,515.125.682,17-06-2017,ST_CLERK,30897,112,70,7,2162.79
13,113,Julia,Patel,Julia@yahoo.com,590.126.683,23-01-2001,AC_ACCOUNTANT,59197,131,80,6,3551.82
14,114,Irene,Davies,Davies@gmail.com,515.123.249,17-06-2017,AD_PRES,61211,121,80,9,5508.99
15,115,James,Zlotkey,James@gmail.com,515.125.683,23-01-2001,AD_VP,43386,116,80,1,433.86
16,116,Jason,Bernstein,Bernstein@yahoo.com,590.126.684,17-06-2017,IT_PROG,27978,117,100,5,1398.90
17,117,Peter,Hall,Hall@gmail.com,515.123.250,23-01-2001,FI_MGR,46632,118,80,8,3730.56
18,118,Sartha,Sully,Sartha@gmail.com,515.125.684,17-06-2017,PU_MAN,66662,121,60,1,666.62
19,119,William,Smith,Smith@yahoo.com,590.126.685,23-01-2001,ST_CLERK,38628,120,70,9,3476.52
20,120,Jack,Greene,Jgreene@gmail.com,515.123.251,17-06-2017,AC_ACCOUNTANT,20068,119,90,2,401.36

In [ ]:
## Series operations: 
# filtering
# arithmetic
# Scalar series
# ranking 
# sorting
# append

In [40]:
# to check the version of pandas
print (pd.__version__)

2.1.4

In [ ]:
# dataframes

In [63]:
# pandas.DataFrame(data=None, index=None, columns=None, dtype=None, copy=None)[source]#

In [115]:
# shape,dtypes,info,values,head,tail,sample,describe,
df = pd.DataFrame(data = [1,2,3,4,5,6,7,8,9,10,1,2,3,4,4,4,4,5,6,7,8,2,2,5,7,9],columns = ['test_col'])
# to get the basic information about the dataframes
df.info()
# head function to get the top 5 rows in the dataframe
df.head()
df.head(7)
# to get the values from the last: default is 5 can change it as per need
df.tail()
# to get the datatype
df.dtypes
# to get the samples from the data  default is 1
print ("samples are",df.sample(2))
# to get the values of the dataframe
df.values
# describe would tell you the basic stats of the data frame
print ("type:",type(df.describe()),df.describe())
# value counts
df['test_col'].value_counts()
# to get the shape of the dataframe
df.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26 entries, 0 to 25
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   test_col  26 non-null     int64
dtypes: int64(1)
memory usage: 340.0 bytes
samples are     test_col
16         4
11         2
type: <class 'pandas.core.frame.DataFrame'>         test_col
count  26.000000
mean    4.923077
std     2.606501
min     1.000000
25%     3.000000
50%     4.500000
75%     7.000000
max    10.000000

(26, 1)