In [ ]:
# Dataframe Sorting - sort_values ()
# Ranking in Dataframe - rank ()
# Dataframe Concat
# Dataframe Joins
# Dataframe Merge
# difference between them
# pivot melt : from documentation
# pandas loc and iloc
    # loc : [<row selection,column selection>]selection based on condition examples, range of rows,updating the values,
    # iloc: rows and columns selection 
# crosstab
# grouping - 
# replacing: to replace the values, using function and dict
# missing values: fillna,isna
# dropping of columns using the function
# duplicates checking duplicated function: keep df.duplicated([<cols>])

In [21]:
import pandas as pd

In [22]:

csv_file_path = r"C:\Users\kashr\Downloads\pegasus\Dataset\employee_details.csv"
df = pd.read_csv(csv_file_path)
df.columns = [cols.lower().replace('\t','') for cols in df.columns]

In [23]:
df.columns

Index(['employee_id', 'first_name', 'last_name', 'email', 'phone_number',
       'hire_date', 'job_id', 'salary', 'manager_id', 'department_id'],
      dtype='object')

In [24]:
df.sort_values(by ='salary',ascending = False)

,employee_id,first_name,last_name,email,phone_number,hire_date,job_id,salary,manager_id,department_id
21,121,Sartha,Sully,NaN,515.125.684,NaN,PU_MAN,66662,NaN,NaN
18,118,Sartha,Sully,Sartha@gmail.com,515.125.684,17-06-2017,PU_MAN,66662,121.0,60.0
6,106,John,Baida,John@yahoo.com,515.125.680,29-01-2009,AC_ACCOUNTANT,63090,123.0,70.0
11,111,Harvey,Mikkilineni,Harvey@gmail.com,515.123.248,23-01-2001,PU_MAN,61770,145.0,100.0
14,114,Irene,Davies,Davies@gmail.com,515.123.249,17-06-2017,AD_PRES,61211,121.0,80.0
13,113,Julia,Patel,Julia@yahoo.com,590.126.683,23-01-2001,AC_ACCOUNTANT,59197,131.0,80.0
7,107,Daniel,Weiss,Weiss@yahoo.com,590.126.681,06-09-1902,AD_PRES,56356,131.0,70.0
22,107,Daniel,Yank,NaN,NaN,06-09-1902,AD_PRES,56356,NaN,NaN
2,102,Alex,Urman,AlexUrman@gmail.com,515.123.245,31-08-2002,IT_PROG,54071,102.0,90.0
10,110,Mathew,Himuro,Himuro@yahoo.com,590.126.682,17-06-2017,FI_MGR,51428,145.0,100.0
1,101,Ross,Kochhar,Rkochhar@yahoo.com,590.126.679,23-01-2001,AD_VP,50806,100.0,90.0
17,117,Peter,Hall,Hall@gmail.com,515.123.250,23-01-2001,FI_MGR,46632,118.0,80.0
5,105,Nancy,Khoo,Nancy@gmail.com,515.123.246,23-06-2005,ST_CLERK,46206,113.0,70.0
15,115,James,Zlotkey,James@gmail.com,515.125.683,23-01-2001,AD_VP,43386,116.0,80.0
19,119,William,Smith,Smith@yahoo.com,590.126.685,23-01-2001,ST_CLERK,38628,120.0,70.0
4,104,David,Raphaely,Raphaely@gmail.com,590.126.680,15-11-2009,PU_MAN,34048,105.0,60.0
12,112,Kevin,Rogers,Rogers@yahoo.com,515.125.682,17-06-2017,ST_CLERK,30897,112.0,70.0
9,109,Adam,Vollman,Adam@gmail.com,515.125.681,23-01-2001,IT_PROG,29047,114.0,90.0
16,116,Jason,Bernstein,Bernstein@yahoo.com,590.126.684,17-06-2017,IT_PROG,27978,117.0,100.0
3,103,Bruce,Popp,Bruce@gmail.com,515.125.679,08-04-2003,FI_MGR,26969,103.0,60.0
0,100,Steven,King,Steven@gmail.com,515.125.678,17-06-2017,AD_PRES,24000,100.0,90.0
8,108,Sigal,Kaufling,Kaufling@yahoo.com,515.123.247,17-06-2017,AD_VP,23488,111.0,60.0
20,120,Jack,Greene,Jgreene@gmail.com,515.123.251,17-06-2017,AC_ACCOUNTANT,20068,119.0,90.0

In [10]:
df['first_name'] + df['last_name']

0            StevenKing
1           RossKochhar
2             AlexUrman
3             BrucePopp
4         DavidRaphaely
5             NancyKhoo
6             JohnBaida
7           DanielWeiss
8         SigalKaufling
9           AdamVollman
10         MathewHimuro
11    HarveyMikkilineni
12          KevinRogers
13           JuliaPatel
14          IreneDavies
15         JamesZlotkey
16       JasonBernstein
17            PeterHall
18          SarthaSully
19         WilliamSmith
20           JackGreene
dtype: object

In [11]:
df['salary'] * df['department_id']

0     2160000
1     4572540
2     4866390
3     1618140
4     2042880
5     3234420
6     4416300
7     3944920
8     1409280
9     2614230
10    5142800
11    6177000
12    2162790
13    4735760
14    4896880
15    3470880
16    2797800
17    3730560
18    3999720
19    2703960
20    1806120
dtype: int64

In [25]:
# we can do arithmetic operation on differemt series
# provided the individual rows data type supports the operators between them
df['first_name'] + df['department_id']

TypeError: can only concatenate str (not "float") to str

In [16]:
df.dtypes

employee_id       int64
first_name       object
last_name        object
email            object
phone_number     object
hire_date        object
job_id           object
salary            int64
manager_id        int64
department_id     int64
dtype: object

In [26]:
# df['department_id'].astype('str')
# for type conversion of a series/datatype to the valid datatypes
df['first_name'] + df['department_id'].astype('str')

0      Steven90.0
1        Ross90.0
2        Alex90.0
3       Bruce60.0
4       David60.0
5       Nancy70.0
6        John70.0
7      Daniel70.0
8       Sigal60.0
9        Adam90.0
10    Mathew100.0
11    Harvey100.0
12      Kevin70.0
13      Julia80.0
14      Irene80.0
15      James80.0
16     Jason100.0
17      Peter80.0
18     Sartha60.0
19    William70.0
20       Jack90.0
21      Sarthanan
22      Danielnan
dtype: object

In [28]:
df['department_id'].astype('str')

0      90.0
1      90.0
2      90.0
3      60.0
4      60.0
5      70.0
6      70.0
7      70.0
8      60.0
9      90.0
10    100.0
11    100.0
12     70.0
13     80.0
14     80.0
15     80.0
16    100.0
17     80.0
18     60.0
19     70.0
20     90.0
21      nan
22      nan
Name: department_id, dtype: object

In [35]:
# to find the null values in the series
df['department_id'].isnull()

# find all the employees whose department_id is null
df[df['department_id'].isnull()]

# find the total salary of employees whose department_id is null
df[df['department_id'].isnull()]['salary'].sum()
# sum(df[df['department_id'].isnull()]['salary'])

# put the department id as 50 for all the employees whose dept is null
# df['department_id'].fillna(<value>,inplace = False)
df['department_id'].fillna(50,inplace = True)
df['department_id'] = df['department_id'].fillna(50)
# to replace all the null hiredates with the min_hire
min_hire_date = df['hire_date'].min
df['hire_date'].fillna(min_hire_date,inplace = True)

0      90.0
1      90.0
2      90.0
3      60.0
4      60.0
5      70.0
6      70.0
7      70.0
8      60.0
9      90.0
10    100.0
11    100.0
12     70.0
13     80.0
14     80.0
15     80.0
16    100.0
17     80.0
18     60.0
19     70.0
20     90.0
21     50.0
22     50.0
Name: department_id, dtype: float64

In [42]:
# to check for null values for all the columns in the dataframe: output is again a series
df.isnull().sum(),type(df.isnull().sum())
# convert the output to a dictionary with columns as key and null counts as values
    # write a function to return the dictionary with values greater than 0

(employee_id      0
 first_name       0
 last_name        0
 email            2
 phone_number     1
 hire_date        1
 job_id           0
 salary           0
 manager_id       2
 department_id    2
 dtype: int64,
 pandas.core.series.Series)

In [41]:
# df.isna()
# import numpy as np
# print (None,np.nan)

None nan

In [36]:
df['department_id']

0      90.0
1      90.0
2      90.0
3      60.0
4      60.0
5      70.0
6      70.0
7      70.0
8      60.0
9      90.0
10    100.0
11    100.0
12     70.0
13     80.0
14     80.0
15     80.0
16    100.0
17     80.0
18     60.0
19     70.0
20     90.0
21      NaN
22      NaN
Name: department_id, dtype: float64

In [54]:
df[['first_name','salary','department_id']].sort_values(by=['department_id','first_name'])

   first_name  salary  department_id
3       Bruce   26969           60.0
4       David   34048           60.0
18     Sartha   66662           60.0
8       Sigal   23488           60.0
7      Daniel   56356           70.0
6        John   63090           70.0
12      Kevin   30897           70.0
5       Nancy   46206           70.0
19    William   38628           70.0
14      Irene   61211           80.0
15      James   43386           80.0
13      Julia   59197           80.0
17      Peter   46632           80.0
9        Adam   29047           90.0
2        Alex   54071           90.0
20       Jack   20068           90.0
1        Ross   50806           90.0
0      Steven   24000           90.0
11     Harvey   61770          100.0
16      Jason   27978          100.0
10     Mathew   51428          100.0
22     Daniel   56356            NaN
21     Sartha   66662            NaN

In [77]:
# Groupby function to group/summarize the data
# we generally use this when we want a single aggregation funtion to be applied to all the columns in the dataframe
print (df.groupby(by = ['department_id']).sum()['salary'])
# we use this when the aggregate function is different for different columns
print (df.groupby(['department_id']).agg({'first_name':'first','salary':sum}))
print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max]}))
print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max],'last_name': [lambda x: 'Mr.' + x,'last']}))
# print (df.groupby(['department_id']).agg([sum,min,max]))
# df[['employee_id','salary','department_id']].groupby('department_id')
# we use this generally we want to apply the functions to all the columns 
# print (df[['employee_id','salary','department_id']].groupby(by = 'department_id').agg([sum,min,max]))

department_id
60.0     151167
70.0     235177
80.0     210426
90.0     177992
100.0    141176
Name: salary, dtype: int64
              first_name  salary
department_id
60.0               Bruce  151167
70.0               Nancy  235177
80.0               Julia  210426
90.0              Steven  177992
100.0             Mathew  141176
              first_name  salary
                   first     sum    min    max
department_id
60.0               Bruce  151167  23488  66662
70.0               Nancy  235177  30897  63090
80.0               Julia  210426  43386  61211
90.0              Steven  177992  20068  54071
100.0             Mathew  141176  27978  61770
              first_name  salary                \
                   first     sum    min    max
department_id
60.0               Bruce  151167  23488  66662
70.0               Nancy  235177  30897  63090
80.0               Julia  210426  43386  61211
90.0              Steven  177992  20068  54071
100.0             Mathew  141176  27978  61770

                                                       last_name
                                                      <lambda_0>       last
department_id
60.0               [Mr.Popp, Mr.Raphaely, Mr.Kaufling, Mr.Sully]      Sully
70.0           [Mr.Khoo, Mr.Baida, Mr.Weiss, Mr.Rogers, Mr.Sm...      Smith
80.0                  [Mr.Patel, Mr.Davies, Mr.Zlotkey, Mr.Hall]       Hall
90.0           [Mr.King, Mr.Kochhar, Mr.Urman, Mr.Vollman, Mr...     Greene
100.0                  [Mr.Himuro, Mr.Mikkilineni, Mr.Bernstein]  Bernstein

C:\Users\kashr\AppData\Local\Temp\ipykernel_14948\1281395715.py:5: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print (df.groupby(['department_id']).agg({'first_name':'first','salary':sum}))
C:\Users\kashr\AppData\Local\Temp\ipykernel_14948\1281395715.py:6: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max]}))
C:\Users\kashr\AppData\Local\Temp\ipykernel_14948\1281395715.py:6: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max]}))
C:\Users\kashr\AppData\Local\Temp\ipykernel_14948\1281395715.py:6: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max]}))
C:\Users\kashr\AppData\Local\Temp\ipykernel_14948\1281395715.py:7: FutureWarning: The provided callable <built-in function sum> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max],'last_name': [lambda x: 'Mr.' + x,'last']}))
C:\Users\kashr\AppData\Local\Temp\ipykernel_14948\1281395715.py:7: FutureWarning: The provided callable <built-in function min> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "min" instead.
  print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max],'last_name': [lambda x: 'Mr.' + x,'last']}))
C:\Users\kashr\AppData\Local\Temp\ipykernel_14948\1281395715.py:7: FutureWarning: The provided callable <built-in function max> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "max" instead.
  print (df.groupby(['department_id']).agg({'first_name':'first','salary':[sum,min,max],'last_name': [lambda x: 'Mr.' + x,'last']}))

In [82]:
# df.groupby(['department_id'])
# for name,group_df in df.groupby(['department_id']):
#     print ("name",name,"grouped df",group_df.max())

name (60.0,) grouped df employee_id                   118
first_name                  Sigal
last_name                   Sully
email            Sartha@gmail.com
phone_number          590.126.680
hire_date              17-06-2017
job_id                     PU_MAN
salary                      66662
manager_id                  121.0
department_id                60.0
dtype: object
name (70.0,) grouped df employee_id                  119
first_name               William
last_name                  Weiss
email            Weiss@yahoo.com
phone_number         590.126.685
hire_date             29-01-2009
job_id                  ST_CLERK
salary                     63090
manager_id                 131.0
department_id               70.0
dtype: object
name (80.0,) grouped df employee_id                  117
first_name                 Peter
last_name                Zlotkey
email            Julia@yahoo.com
phone_number         590.126.683
hire_date             23-01-2001
job_id                    FI_MGR
salary                     61211
manager_id                 131.0
department_id               80.0
dtype: object
name (90.0,) grouped df employee_id                   120
first_name                 Steven
last_name                 Vollman
email            Steven@gmail.com
phone_number          590.126.679
hire_date              31-08-2002
job_id                    IT_PROG
salary                      54071
manager_id                  119.0
department_id                90.0
dtype: object
name (100.0,) grouped df employee_id                   116
first_name                 Mathew
last_name             Mikkilineni
email            Himuro@yahoo.com
phone_number          590.126.684
hire_date              23-01-2001
job_id                     PU_MAN
salary                      61770
manager_id                  145.0
department_id               100.0
dtype: object